.destacado {
    margin-top: 140px;
    width: 100%;
    display: flex;
    background-image: url("../../assets/img/fondo1.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;     
}
.titulo{
    margin-bottom: 2%;
}
.destacado1{
    margin: 2%;
}
h1 {
    font-size: 40px;
    margin-block-start:0;
}

.descripcion {
    margin: 0px;
    margin-left: 20px;
    font-size: 20px;
}

.destacado2 {
    margin:2%;
    margin-right: 4%;
}

.nombreJuego {
    margin-top: 90px;
    margin-left: 20px;
}

.nombreJuego h2 {
    font-size: 36px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnJugar {
    font-size: 36px;
    border-radius: 50px;
    width: 245px;
    height: 68px;
    background-color: #F0B510;
    opacity: 0.85;
    box-shadow: -1px 2px rgba(255,255,255,0.3);
    cursor: pointer;
}