.footer {
    background-color: #582A72;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    position: fixed;
    left: 0;
}
.img{
    display: flex;
}
.imagenLogo {
    height: 50px;
    width: 50px;
    margin-top: 25px;
    margin-left: 20px;
}

.titulo {
    margin: .5rem;
}

.grupo {
    color: white;
    margin-right: 2em;
}