.footer {
    background-color: #582A72;
    color: #FFFFFF;
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    width: 99%;
    /*solucion atada con alambre, para que el div quede dek tamaño de la pagina*/
    position: fixed;
    bottom: 0;
}

.imagenLogo {
    height: 50px;
    width: 50px;
    margin-top: 25px;
    margin-left: 20px;
}

.titulo {
    margin: .5rem;
}

.grupo {
    /*otro solucion atada con alambra, para que quede al final del div el h4*/
    color: white;
    position: relative;
    left: 900px;
}