<section>

    <div class="slider">
        <div class="slide-track">

            <div class="slide"><img src="assets/img/juegoAccion1.jpg" alt=""></div>
            <div class="slide"><img src="assets/img/juegoAccion2.webp" alt=""></div>
            <div class="slide"><img src="assets/img/juegoAccion3.jpg" alt=""></div>
            <div class="slide"><img src="assets/img/juegoAccion1.jpg" alt=""></div>
            <div class="slide"><img src="assets/img/juegoAccion1.jpg" alt=""></div>
            <div class="slide"><img src="assets/img/juegoAccion1.jpg" alt=""></div>
            <div class="slide"><img src="assets/img/juegoAccion1.jpg" alt=""></div>
            <div class="slide"><img src="assets/img/juegoAccion1.jpg" alt=""></div>
            <div class="slide"><img src="assets/img/juegoAccion1.jpg" alt=""></div>
            <div class="slide"><img src="assets/img/juegoAccion1.jpg" alt=""></div>

        </div>
    </div>

</section>

<script src="carrusel.js"></script>