.juego {
    margin-top: 150px;
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: rgba(88,42,114,0.8);
    color: white;
}
.juegoPpal{
    height: 100%;
    width: 100%;
}
.parteDerecha {
    margin-left: 5%;
}

.controles {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.controlTeclado {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.controlMouse {
    display: grid;
    grid-template-columns: 1fr 1fr;
}