<div class="juego">
    <div>
        <img class="juegoPpal" src="assets/img/juegoMasJugado.png" alt="Imagen del juego Pacman">
    </div>
    <div class="parteDerecha">
        <div>
            <div class="controles">
                <div>
                    <h3>Controles</h3>
                </div>
                <div class="controlTeclado">
                    <img width="50px" height="50px" src="assets/img/Teclado.png" alt="Control usando teclado">
                    <p>W</p>
                    <p></p>
                    <p>A S D</p>
                </div>
                <div class="controlMouse">
                    <img width="50px" height="50px" src="assets/img/Raton.png" alt="Control usando el mouse">
                    <p>Usar Power up</p>
                </div>
            </div>
            <div class="descripcion">
                <h3>Descripcion</h3>
                <!-- agregar un ver mas -->
                <p>El juego consiste en conducir a Pac-Man, una bola amarilla que abre y cierra la boca, por un laberinto. Suma puntos cuando come aquello que encuentra a su paso, bolitas y diferentes frutas, pero debe esquivar a cuatro fantasmas.</p>
            </div>
        </div>
        <div>
            <button><img width="50px" height="50px" src="assets/img/Favorito.png" alt="Boton favorito"></button>
            <button><img width="50px" height="50px" src="assets/img/Compartir.png" alt="Boton compartir"></button>
        </div>


    </div>
</div>

