.lista {
    margin-top: 100px;
    margin-bottom: 100px;
    display: grid;
    grid-template-rows: 2fr 2fr;
    grid-template-columns: repeat(6, 1fr);
    margin-left: 2%;
}

.linea {
    height: 50px;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 6;
    align-self: center;
}

.listaCard {
    display: grid;
    grid-row: 2;
}

p.juegoNombre {
    text-align: center;
}

.card {
    border: 1px solid black;
    border-radius: 5px;
    width: 225px;
    height: 150px;
    gap: 1em;
}

h3 {
    text-align: center;
    margin-top: 5px;
}