<div class="listaCard" style="margin-top: 155px;">
    <div class="buscar">
        <input type="text" name="filterJuego" placeholder="Buscar.." [(ngModel)]="filterJuego">
    </div>
    <h1>Resultados :</h1>

    <section class="probando" *ngFor="let categoria of asd">
        <div class="card" *ngFor="let juego of categoria.juegos |filter :filterJuego">
            <!-- <div *ngIf="juego.nombre == null ">
                <h2>No hay resultados para esta busqueda</h2>
            </div> -->
            <div>
                <img width="225px" height="150px" [src]="juego.imagen" [alt]="juego.nombre">
            </div>
            <div>
                <h3>{{juego.nombre}}</h3>
            </div>

        </div>
    </section>
</div>