/*.grid {
    //display: flex;
    //justify-content: space-around;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    margin-left: 2%;
    margin-right: 2%;
    column-gap: 2em;
}

img {
    height: 100px;
    width: 150px;
}*/

@media only screen and (min-width:600px) {
    .grid {
        display: flex;
        justify-content: space-around;
        margin-top: 40px;
    }
    img {
        height: 200px;
        width: 300px;
    }
}