<header>
    <nav class="barra">
        <div class="logo">
            <a href=""><img class="imagenLogo" src="assets/img/logo.png" alt="Logo"></a>
        </div>

        <div class="lista">
            <ul class="menuLineal">

                <li><a><img class="btn-categories" src="assets/img/Categorias.png"></a>
                    <ul class="dropdowns">
                        <a>Accion</a>
                        <li><a>Aventuras</a></li>
                        <li><a>Multijugador</a></li>
                        <li><a>Clasicos</a></li>
                    </ul>
                </li>
                <!-- [routerLink]="['/#']" -->
                <li><a [routerLink]="['/busqueda']"><img class="btn-categories" src="assets/img/Buscar.png"></a></li>

                <li (click)="openLogin()"> <a href="#"><img class="btn-categories" src="assets/img/Perfil.png"></a></li>
                <div *ngIf="abrirOpcion==true">
                    <app-form-login></app-form-login>
                </div>

            </ul>
        </div>
    </nav>
</header>