.barra {
    background-color: #582A72;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.imagenLogo {
    height: 100px;
    width: 100px;
    margin-top: 25px;
    margin-left: 20px;
}

.img {
    cursor: pointer;
}

.titulo {
    font-size: 1.5rem;
    margin: .5rem;
}

.lista ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
}

.menuLineal>li {
    position: relative;
    display: inline-block;
}

.lista ul li a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 1rem;
}

.lista ul li a:hover {
    background-color: #555;
}


/*submenu*/

.dropdowns {
    position: absolute;
    background: #582A72;
    color: white;
    width: 150px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5;
}

.dropdowns li a {
    display: block;
}

.menuLineal li:hover .dropdowns {
    display: block;
    visibility: visible;
    opacity: 1;
}