<header>
    <nav class="barra">
        <div class="logo">
            <img class="imagenLogo" src="assets/img/logo.webp" alt="Logo">
            <div class="titulo">
                <h1>DJuegos</h1>
            </div>
        </div>

        <div class="lista">
            <ul class="menuLineal">

                <li><a>CATEGORIAS</a>
                    <ul class="dropdowns">
                        <li><a>Accion</a></li>
                        <li><a>Aventuras</a></li>
                        <li><a>Multijugador</a></li>
                        <li><a>Clasicos</a></li>
                    </ul>
                </li>
                <!-- [routerLink]="['/#']" -->
                <li><a>BUSCAR</a></li>

                <li (click)="openLogin()"> <a href="#">INICIAR SESION</a></li>
                <div *ngIf="abrirOpcion==true">
                    <app-form-login></app-form-login>
                </div>

            </ul>
        </div>
    </nav>
</header>