.form {
    display: grid;
    grid-template-columns: 50% 50%;
    border: 1px solid black;
    height: 590px;
    width: 860px;
}

.animacion {
    background-color: #5772AC;
    display: grid;
    grid-template-rows: 90 300 200;
}

.h3 {
    font-size: 20px;
    font-style: italic;
    color: white;
}

.formLogin {
    background-image: url("/assets/img/publicidad.webp");
    /*no funciona*/
    float: right;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 30px;
}

input {
    border: 2px solid black;
    border-radius: 5px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-top: 0;
    width: 232px;
    height: 39px;
}

.botonEntrar {
    margin-top: 20px;
}

.btnEntrar {
    border-radius: 30px;
    background-color: #5772AC;
    font-style: black;
    width: 201px;
    height: 56px;
}

.botonNo {
    margin-top: 100px;
}

.btnNo {
    border-radius: 8px;
    background-color: #F0B510;
    width: 352px;
    height: 40px;
}