<div class="form">
    <div class="animacion">
        <h3>Logueate para:</h3>
        <ul>
            <li>Retar y competir con tus amigos</li>
            <li>Compartir</li>
            <li>Agregar a favoritos</li>
        </ul>
    </div>
    <div class="formLogin">

        <form action="">
            <div class="input">
                <label for="">Usuario</label>
            </div>
            <div>
                <input type="text">
            </div>
            <div class="input">
                <label for="">Contraseña</label>
            </div>
            <div class="input">
                <input type="password">
            </div>
            <div class="botonEntrar">
                <button class="btnEntrar">Entrar</button>
            </div>
        </form>
        <div class="botonNo">
            <button class="btnNo">¿No tienes cuenta?</button>
        </div>
    </div>
</div>